body { 
background: url(http://umehotel.se/sites/umehotel.se/files/styles/fullsize/public/ume_fasad_natt.jpg?itok=GG-e2Qu7) no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

#fakta {
	float: left;
	width: 700px;
	margin-left: 40px;
	margin-top: 80px;
	border-right: white 2px solid; 
	padding-right: 20px;
	color: white;
	background-color: rgba(0, 0, 0, 0.5); 
	padding-left: 10px;

}

#navbar {
	height: 52px;
	position: fixed;
	width: 100%;
}

#myCarousel {
	float: right;
	margin-right: 20px;
	margin-top: 100px;

}

#bilder {
	width: 550px;
	height: 500px;
}