html { 
background: url(http://umehotel.se/sites/umehotel.se/files/styles/fullsize/public/ume_fasad_natt.jpg?itok=GG-e2Qu7) no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}